body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: #f5f5f5;
}

/*
AppBar = 48px jusqu'à 480px width, puis 64px après
MusicInfo = 35vh
Buttons = 76px
Video = l'espace restant !
*/

.globalContent {
  height: 100vh;
  display: flex; /* A permis de passer la AppBar au-dessus de la card ! Enfin ! */
  flex-direction: column;
}

/*****************
**  MUSIC INFO  **
*****************/

.musicInfoWrapper {
  height: 40vh; /* Mettre une height minimal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#fbe9e7, #fff);
}

.capitalize {
  text-transform: capitalize;
}

/*****************
***   BUTTONS  ***
*****************/

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

/*****************
****   VIDEO   ***
*****************/

.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: Calc(100vh - 48px - 49px - 40vh); /* Mettre une height minimal */
  background-color: #f5f5f5;
}

.titlePieceTypo {
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
